@import("../../stylus/index.styl");
.login
    .login-name
        padding-bottom $padding
        margin $nameMt  auto $nameboxMargin
        border-bottom $borderWidth solid $font-color3
        width 80vw      
     
    .login-pass
        margin $nameboxMargin auto
        padding-bottom $padding
        width 80vw     
        border-bottom $borderWidth solid $font-color3

    .login-btnbox
       width 80vw
       margin 0 auto
       .login-forget
            float right
    

      


    