@import("../../stylus/index.styl");
.register
     .register-tel
        padding-bottom $padding
        margin $nameMt  auto $nameboxMargin
        border-bottom $borderWidth solid $font-color3
        width 80vw      
     
    .register-pass,.register-name
        margin $nameboxMargin auto
        padding-bottom $padding
        width 80vw     
        border-bottom $borderWidth solid $font-color3

    .register-btnbox
       width 80vw
       margin 0 auto

   