@import("../../../../stylus/index.styl")
.banner
    height: $bannerHeight
    background: $font-color3
    .slider
        height 100% !important 
        .slider-frame
            height 100% !important 
            .slider-list
                height 100% !important
                .slider-slide
                    height 100% !important
                    img
                        height 100% !important





           


