@import("../../../../stylus/index.styl");
.nav
    display flex 
    .nav-box
        flex 1
        text-align center
        img
            width 1.5rem
            height 1.5rem
          
            
        p
            text-align center

      