@import("../../../../stylus/index.styl");
.info
    overflow hidden
    .info-name
        font-size $h1 
        margin $margin 
    .info-price
        color $primary
        padding $padding
    .info-isnew,.info-ishot
        border $borderWidth solid $primary
        padding $padding
        color $primary
    .info-market_price   
        padding $padding
        text-decoration line-through