@import("../../stylus/index.styl");
.index
    padding-bottom: $footerHeight2
    .index-footer
        width: 100vw 
        height: $footerHeight 
        border-top: $borderWidth solid $font-color3
        position fixed
        left 0 
        bottom: 0 
        display: flex
        background: $font-fff
        a
            flex: 1 
            text-align: center 
            line-height: $footerHeight 
        .select 
            color $primary
    .index-footer2
        width: 100vw 
        height: $footerHeight2 
        border-top: $borderWidth solid $font-color3
        position fixed
        left 0 
        bottom: 0 
        display: flex
        background: $font-fff
        a
            flex: 1 
            text-align: center 
            div
                line-height: 0.4rem 
            img 
                width: 0.3rem
                height: 0.3rem
                display: block 
                margin: $margin auto 
        .select 
            color $primary