@import("./color.styl")
@import("./size.styl")
.btn{
    background: $primary;
    color: $font-fff;
    font-size: $h3;
    text-align: center;
    height: $buttonHeight;
    line-height: $buttonHeight
    width: 100%;
    border-radius: $margin
    margin: $margin auto 
}