$footerHeight=0.8rem;
$headerHeight=0.8rem;
$footerHeight2=1.2rem;
$h1=0.5rem;
$h2=0.3rem;
$h3=0.2rem;



$margin=0.2rem;
$padding=0.1rem;

$buttonHeight=0.6rem;

$borderWidth=0.02rem;

$bannerHeight=3.8rem;

$nameboxMargin=0.6rem
$nameMt=2rem


$listImgwidth=2rem
$listbtnwidth=1.3rem