@import("../../stylus/index.styl");
.detail
    .img
        width 100vw
     .footer
        width: 100vw 
        height: $footerHeight 
        box-sizing: border-box
        position fixed
        left 0
        bottom: 0
        background: $font-fff
        border-top: $borderWidth solid $font-color3
        .footer-add
            float right
            height $footerHeight
            width $listbtnwidth
            text-align center
            line-height $footerHeight
            background $primary
            color #fff
            
    